
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 2rem;
    border-left: 2px solid rgb(198, 250, 198);
    padding-left: .6rem;
}

.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 1.3rem;
}

.input-box input , .input-box label {
    box-shadow: 2px solid grey;
    padding: 0.4rem 0.8rem;
    
}
.container button{
background-color: rgb(156, 244, 172);
padding: 0.5rem 0.8rem;
border-radius: 10px;
margin: 1rem;
}