

.main-area .listoftask {
  margin-left: 3rem;
  margin-bottom: 1rem;
  border-left: 4px solid rgb(118, 237, 142);
  padding: 1rem 1rem;
 text-align: left;
}

.main-area .listoftask a{
  text-decoration: none;
}

.main-area .listoftask a:hover{
 font-weight: bold;
 transition: ease 1;
 color: rgb(175, 237, 175);
}

