body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
  width:200px ;
  height:200px;
}
.score-result{
 font-Weight:bold;
color:green;
}

.App {
  display: grid;
  grid-template-areas: 
   "header header header"
   "nav main sidebar"
   "footer footer footer";
  }
header{
  grid-area: header;
  background-color: #61dafb;
  text-align: center;
  height: 3rem;
  padding: 1rem;
}
.nav-area{
  grid-area: nav;
  
}
.main-area{
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sidebar-area{
  grid-area: sidebar; 
}
.footer-area{
  grid-area: footer;
  background-color: #61dafb;
  padding: 2rem;
}

